<aside class="@(SidebarToggle ? "translate-x-0 xl:w-[90px]" : "-translate-x-full xl:w-[290px]") sidebar fixed top-0 left-0 z-9999 flex h-screen w-[290px] flex-col overflow-y-auto border-r border-gray-200 bg-white px-5 transition-all duration-300 xl:static xl:translate-x-0 dark:border-gray-800 dark:bg-black">
    <div class="@(SidebarToggle ? "justify-center" : "justify-start") sidebar-header flex items-center gap-2 pt-8 pb-7 h-[90px] overflow-hidden">
        <a href="/" class="flex h-full w-full flex-row flex-nowrap items-center gap-2 overflow-hidden whitespace-nowrap">

            <div class="@(SidebarToggle ? "xl:hidden" : "") flex h-full flex-row flex-nowrap items-center gap-2 overflow-hidden">
                <img class="h-8 w-auto shrink-0" src="/tailadmin/src/images/logo/logo.png" alt="CoinStack" />
                <span class="truncate text-xl font-bold text-gray-800 dark:text-white">CoinStack</span>
            </div>

            <img class="@(SidebarToggle ? "xl:block" : "hidden") hidden shrink-0"
                 src="/tailadmin/src/images/logo/logo.png"
                 alt="CoinStack" />
        </a>
    </div>
    <div class="no-scrollbar flex flex-col overflow-y-auto duration-300 ease-linear">
        <nav>
            <div>
                <h3 class="mb-4 text-xs leading-[20px] text-gray-400 uppercase">
                    <span class="@(SidebarToggle ? "xl:hidden" : "") menu-group-title">MENU</span>
                </h3>

                <ul class="mb-6 flex flex-col gap-1">
                    <li>
                        <NavLink href="/" Match="NavLinkMatch.All" class="menu-item group menu-item-inactive" ActiveClass="menu-item-active">
                            <i class="menu-item-icon-inactive fa-solid fa-house fa-fw text-xl"></i>
                            <span class="@(SidebarToggle ? "xl:hidden" : "") menu-item-text">Dashboard</span>
                        </NavLink>
                    </li>

                    <li>
                        <NavLink href="/budgets" class="menu-item group menu-item-inactive" ActiveClass="menu-item-active">
                            <i class="menu-item-icon-inactive fa-solid fa-wallet fa-fw text-xl"></i>
                            <span class="@(SidebarToggle ? "xl:hidden" : "") menu-item-text">Buckets</span>
                        </NavLink>
                    </li>

                    <li>
                        <NavLink href="/goals" class="menu-item group menu-item-inactive" ActiveClass="menu-item-active">
                            <i class="menu-item-icon-inactive fa-solid fa-bullseye fa-fw text-xl"></i>
                            <span class="@(SidebarToggle ? "xl:hidden" : "") menu-item-text">Goals</span>
                        </NavLink>
                    </li>

                    <li>
                        <NavLink href="/transactions" class="menu-item group menu-item-inactive" ActiveClass="menu-item-active">
                            <i class="menu-item-icon-inactive fa-solid fa-arrow-right-arrow-left fa-fw text-xl"></i>
                            <span class="@(SidebarToggle ? "xl:hidden" : "") menu-item-text">Transactions</span>
                        </NavLink>
                    </li>

                    <li>
                        <NavLink href="/subscriptions" class="menu-item group menu-item-inactive" ActiveClass="menu-item-active">
                            <i class="menu-item-icon-inactive fa-solid fa-rotate fa-fw text-xl"></i>
                            <span class="@(SidebarToggle ? "xl:hidden" : "") menu-item-text">Subscriptions</span>
                        </NavLink>
                    </li>

                    <li>
                        <NavLink href="/debt" class="menu-item group menu-item-inactive" ActiveClass="menu-item-active">
                            <i class="menu-item-icon-inactive fa-solid fa-credit-card fa-fw text-xl"></i>
                            <span class="@(SidebarToggle ? "xl:hidden" : "") menu-item-text">Debts</span>
                        </NavLink>
                    </li>

                    <li>
                        <NavLink href="/debt-simulator" class="menu-item group menu-item-inactive" ActiveClass="menu-item-active">
                            <i class="menu-item-icon-inactive fa-solid fa-calculator fa-fw text-xl"></i>
                            <span class="@(SidebarToggle ? "xl:hidden" : "") menu-item-text">Simulator</span>
                        </NavLink>
                    </li>

                    <li>
                        <NavLink href="/waitlist" class="menu-item group menu-item-inactive" ActiveClass="menu-item-active">
                            <i class="menu-item-icon-inactive fa-solid fa-clock-rotate-left fa-fw text-xl"></i>
                            <span class="@(SidebarToggle ? "xl:hidden" : "") menu-item-text">Waitlist</span>
                        </NavLink>
                    </li>

                    <li>
                        <NavLink href="/settings" class="menu-item group menu-item-inactive" ActiveClass="menu-item-active">
                            <i class="menu-item-icon-inactive fa-solid fa-gear fa-fw text-xl"></i>
                            <span class="@(SidebarToggle ? "xl:hidden" : "") menu-item-text">Settings</span>
                        </NavLink>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</aside>

@code {
    [Parameter] public bool SidebarToggle { get; set; }
    [Parameter] public EventCallback<bool> SidebarToggleChanged { get; set; }

    private async Task CloseSidebar()
    {
        if (SidebarToggle)
        {
            SidebarToggle = false;
            await SidebarToggleChanged.InvokeAsync(false);
        }
    }
}